.process{
	padding-top: 20px;
	padding-bottom: 85px;
	text-align: center;
	.step{
	position: relative;
	width: 175px;
	height: 205px;
	background: url('../img/step/step3.png') no-repeat center center;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 200px;
     h3{
		@extend h3;
		font-size: 24px;
		font-weight: 600;
		margin: 45px 0 5px 0;
        }
	}

	.step:nth-child(5){
	width: 265px;
	height: 305px;
	background: url('../img/step/step4.png') no-repeat center center;
		 h3{
		@extend h3;
		font-size: 24px;
		font-weight: 600;
		margin: 60px 0 5px 0;
	    }
    }
}
.s1{
	top: 103px;
	left: 60px;

	&::before{
    position:absolute;
    content: '';
    width: 263px;
    height: 302px;
    background-image: url('../img/step/step.png');
    top: 152px;
    left: 44px;
	}
	&::after{
	position: absolute;
	content:'';
	width: 38px;
	height: 38px;
	background-image: url('../img/step/icon1.png');	
	top:30px;
	left: -15px;
	}
}
.s2{
	top: 154px;
	left: 149px;
	&::after{
	@extend .s1::after;
    background-image: url('../img/step/icon2.png');	
	}
}
.s3{
	top: 4px;
	left: 60px;
	&::after{
	@extend .s1::after;
    background-image: url('../img/step/icon3.png');	
	}
}
.s4{
	top: 79px;
	left: 57px;
	&::before{
	position: absolute;
	content:'';
	width: 38px;
	height: 38px;
	background-image: url('../img/step/icon4.png');	
	top: 60px;
	left: -15px;
	}
	&::after{
	position: absolute;
	content:'';
	width: 38px;
	height: 38px;
	background-image: url('../img/step/icon5.png');	
	bottom: -15px;
	left:115px;
	}
}