/*...............*/
.service {
	padding-top: 40px;
	padding-bottom: 95px;
	text-align: center;
	
}
/*..............*/

.service__item{
	flex-direction: row;
	justify-content: center;
    width: 25%;
    padding: 0 20px;
    &_logo{
     margin-bottom: 20px;
    }
    &_title{
       position: relative;
       font-size: 20px;
       font-weight: 400;
       text-transform: uppercase;
       color: $grey;
       margin-bottom: 35px;
       &::before{
       	position:absolute;
       	content:'';
       	width: 60px;
       	height: 1px;
       	background-color: $grey;
       	left: 65px;
        bottom: -10px;
       }
    }
    &_text{
    	
    	font-weight: 300;
    	line-height: 18px;
    	
    }
}		