.site-footer{
	background: url(../img/footer-bg.jpg) no-repeat center center/cover;
	padding-top: 75px;
	padding-bottom: 50px;margin: 0 auto;
	img{
		width: 190px;
		margin-left: calc(50% - 95px);
    }
}