.team{
	padding-top: 55px;
	padding-bottom: 110px;
	background-color: $color-bg;
	text-align: center;
	.wrap{
		justify-content: center;
	}
	&__item{
		width: 33.33%;
		margin-top: 70px;
		color: $grey;
		&_name{
			margin-top: 25px;
			font-size: 25px;
			font-weight: 400;
		}
		&_name span:nth-child(2){
			display: block;
			font-size: 20px;
			font-weight: 300;
			margin-top: 15px;
			color: $grey;
		}

	}
	.social{
	      a{
			display: inline-block;
			width: 40px;
			height: 40px;
			background: url('../img/social.png') no-repeat;
			margin: 15px 8px;
		}
		.tw{
			background-position: 0 0;
		}
		.fb{
			background-position: -53px 0;
		}
		.in{
			background-position: -109px 0;
		}
}
}		